* {
    font-family: sans-serif;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}  




/* container includes inpt box, the div that recipes get appended to and the footer */
.inputForm {
    text-align: center;
    width: 100%;
    background: #808080;
    padding: 2%;
    position: fixed;
    top: 0;
    margin-bottom: 200px;
    
    
}
/* input form includes the input forms - want it to stretch across the entire screen and fill the screen on load */

/* THis section is for the input within the form */
#input-box {
    
}



.recipeBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 75%;
    margin-top: 5%;
}
/* this is the div that the recipes will be appended to, would like them to be displayed 3 across while the screen is large, and then in column when small */

.singleRecipe {
    display: flex;
    flex-direction: column;
    width: 27%;
    /* height: 150px; */
    
    outline: 1px solid black;
    margin: 2%;
}


/* single Recipe is the div for the indiviudal recipe divs it will contain two divs - first including the pic, second including some info */

.recipePic {
    height: 40%;
    width: 100%;
    background-size: contain;
    /* display: flex; */
    /* overflow: hidden; */
    /* align-items: center; */
    object-fit: cover;
    overflow: hidden;
    white-space: nowrap;
    background-color: darkgrey;
    /* flex-basis: 0; */
    /* position: relative; */
    
    

    
}
.recipePic > h3, .recipeInfo > div > h3 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: .8em;
}
.recipePic > img {
    max-width: 100%;
    max-height: 100%;
    /* width: 20%; */
    
}
/* recipePic is the div within singleRecipe containing just the picture - maybe with an h2 over it.  The picture shoudl be set up like this <a><img></img></a> */

.recipeInfo {
    /* height: 60%; */
    width: 100%;
    /* background: blue; */
    display: none;
    /* height: 100%; I need to find away to make the ingredients fill the space of the div shoud also set overflow to scroll or w/e so all are the same size*/
    /* flex-basis: 0; */
   
    height: 100%;
    /* background-color: darkgrey; */
    overflow: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative; 
    /* trying position relative to pin the header to the bototm */
}

.recipeInfo > div {
    position: sticky;
    /* this is a problem - looks fine on a smallish screen, using absolute is fine on big screen, but medium screens this floats to the middle */
    /* vertical-align: bottom; */
    left: 0;
    bottom: 0;
    width: 100%;
    /* max-height: 10%; */
    background-color: darkgrey;
    /* padding: .8%; */
    padding-top: 1.5%;
    /* I don't even know if padding is doing anything here */
    /* margin: 2%; */
}

/* recipeInfo is the div within singleRecipe containing ingredients and information probably shoudl make the header a link to the website*/




footer {
  text-align: center;
}


/* this is to clear the formatiting on the title links */
h3 {

    text-align: center;
    /* background-color: black; */
    color: white;
}
a {
    text-decoration: none;
    color: white;
}

/* This is for the list items and the UL */
ul {
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding: 2% 0 0 2%;
    background-color: white;
    font-size: .8em;
    width: 90%;
    
    
}

li {
    width: 90%;
}





/* Things to add:

2. Probably could add calorie counts
3. would like to make image a link
4. include h3 tag on ingredient side of card.
5. Woudl be nice to have the div on flip to not change size to fit
6. everything is ugly - need to fix that, better h3 on the bottom, round edges perhaps. fonts/sizes
7. I think it would be good to either rank recipe options? or pick a random set to show? or something like that so it changes each time.




*/

/* modal css */
/* The Modal (background) */
.modal {
    /* display: none; Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 1%;
    outline: 1px solid #888;
    width: 45%; /* Could be more or less, depending on screen size */
    height: 42%;
    text-align: center;
    font-size: .8em;
  }
  
  #modal-input {
      width: 60%;
      padding: 3%;
      margin: 2%;
      font-size: 1.25em;
      /* height: 10%; */
  }

  #modal-submit {
      width: 50%;
      margin: 5% 2% 2% 2%;
      font-size: 1em;
      background-color: #e9f5f8;
      height: 10%;
      outline: 2px solid black;
      /* box-shadow: 5px 5px rgba(0,0,0,0.3); */
      cursor: pointer;
      padding: 2%;
      
  }

  #modal-submit:hover {
    /* height: 15%;
    width: 65%; */
    /* background-color: cadetblue; */
    font-weight: 550;
    background-color: #daedf4;
  }

  #modal-exclude, #modalDietRestrictions, #modalHealthRestrictions {
      width: 30%;
      margin: 2px;
  }





  /* ---------------------------------------------------------------------------Mobile CSS: --------------------- --------------------------------------------------------*/
  

  @media screen and (min-width: 100px) and (max-width: 700px) {
    .modal-content {
        padding: 2%;
        outline: 1px solid #888;
        width: 60%; /* made this larger so the items on the screen aren't squished. */
        height: 40%;
        text-align: center;
        font-size: .8em;
      }
      #modal-input {
        width: 60%;
        padding: 3%;
        margin: 2%;
        /* font-size: .8em;
        height: 10%; */
    }

    /* Modal sizing seems fine - could make the bars a bit different - but in terms of a work version, seems fine */

    /* This section is for the recipe divs */
    .recipeBox {
        flex-direction: column;
        width: 80%;
    }
    .singleRecipe {
        width: auto;
        margin-top: 15%;
    }
    .recipeInfo > div {
        position: absolute;

        /* this pins the header to the bototm on the back of the card */
    }
    .recipePic > h3, .recipeInfo > div > h3 {
        font-size: 1em;
    }

  }

/* ---------------------------------------------------------------------------medium Screen CSS: 
might be unnecessary but seems like I shoudl be doing this, maybe makes sense--------------------- --------------------------------------------------------*/
  




  @media screen and (min-width: 700px) and (max-width: 1000px) {
    .recipeBox {
        flex-direction: row;
    }
    .singleRecipe {
        width: 40%;
        /* height: 150px; */
    }
    .recipeInfo > div {
        position: absolute;

        /* this pins the header to the bototm on the back of the card */
    }
}









/* ---------------------------------------------------------------------------Full Screen CSS: 
might be unnecessary but seems like I shoudl be doing this, maybe makes sense--------------------- --------------------------------------------------------*/
  



  @media screen and (min-width: 1000px) and (max-width: 1500px) {
    .recipeInfo > div {
        position: absolute;

        /* this pins the header to the bototm on the back of the card */
    }
  }

  @media screen and (min-width: 1500px) {
    .recipeInfo > div {
        position: absolute;

        /* this pins the header to the bototm on the back of the card */
    }
    .singleRecipe {
        width: 18%;
        /* height: 150px; */
    }
  }