* {
    font-family: sans-serif;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}  




/* container includes inpt box, the div that recipes get appended to and the footer */
.inputForm {
    text-align: center;
    width: 100%;
    background: #808080;
    /* padding: 2%; */
    position: fixed;
    top: 0;
    display: flex;
    /* margin-bottom: 200px; */
    justify-content: space-between;
    
    
}


.includeIngredients {
  width: 60%;
  padding: 2%;
}

.favoriteALink, .titleLogo {
  width: 15%;
  background: rgb(140,190,100);
  /* min-height: 100%; */
  color: white;
  padding: 2%;
  margin: 0 auto;
  
  
}
.favoriteLink {
  padding: 2%;
  /* margin: 0 auto; */
}
.favoriteALink:hover {
  font-weight: 700;
  background-color: rgb(100, 180, 90)
}





/* input form includes the input forms - want it to stretch across the entire screen and fill the screen on load */

/* THis section is for the input within the form */
#input-box {
    
}



.recipeBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 75%;
    margin-top: 5%;
}
/* this is the div that the recipes will be appended to, would like them to be displayed 3 across while the screen is large, and then in column when small */

.singleRecipe {
    display: flex;
    flex-direction: column;
    width: 27%;
    /* height: 150px; */
    
    outline: 1px solid black;
    margin: 2%;
   
}

.singleRecipe:hover {

}

/* single Recipe is the div for the indiviudal recipe divs it will contain two divs - first including the pic, second including some info */

.recipePic {
    height: 40%;
    width: 100%;
    background-size: contain;
    /* display: flex; */
    /* overflow: hidden; */
    /* align-items: center; */
    object-fit: cover;
    overflow: hidden;
    white-space: nowrap;
    background-color: darkgrey;
    /* flex-basis: 0; */
    /* position: relative; */
   
    

    
}
.recipePic > h3, .recipeInfo > div > h3 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: .8em;
}
.recipePic > img {
    max-width: 100%;
    max-height: 100%;
    /* width: 20%; */
    
}
/* recipePic is the div within singleRecipe containing just the picture - maybe with an h2 over it.  The picture shoudl be set up like this <a><img></img></a> */

.recipeInfo {
    /* height: 60%; */
    width: 100%;
    /* background: blue; */
    display: none;
    /* height: 100%; I need to find away to make the ingredients fill the space of the div shoud also set overflow to scroll or w/e so all are the same size*/
    /* flex-basis: 0; */
   
    height: 100%;
    /* background-color: darkgrey; */
    /* overflow: scroll; */
    overflow-x: hidden;
    /* overflow-y: hidden; */
    position: relative; 
    /* trying position relative to pin the header to the bototm */
    background-color: rgb(242,242,242);
/* this section is for css animations around the recipe info */
    /* transform: rotate3d(180deg);
    transition: 2s;  */

    animation-name: flipRecipe;
     /* 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; */
    /* 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both; */
    animation-duration: 0.5s;
    /* flip recipe works - commented it out because I don't think the animation - looks to fake - could look better with a 3d type of look */
     
}

.recipeInfo > div {
    position: relative;
    /* this is a problem - looks fine on a smallish screen, using absolute is fine on big screen, but medium screens this floats to the middle */
    /* vertical-align: bottom; */
    left: 0;
    bottom: 0;
    width: 100%;
    /* max-height: 70%; */
    /* background-color: darkgrey; */
    /* padding: .8%; */
    padding-top: 1.5%;
    /* I don't even know if padding is doing anything here */
    /* margin: 2%; */
}

.recipeInfo >div:nth-of-type(2n) {
    background-color: darkgrey;
    
}

/* recipeInfo is the div within singleRecipe containing ingredients and information probably shoudl make the header a link to the website*/




footer {
  text-align: center;
}


/* this is to clear the formatiting on the title links */
h3 {

    text-align: center;
    /* background-color: black; */
    color: white;
}
a {
    text-decoration: none;
    color: white;
}

/* This is for the list items and the UL */
ul {
    /* list-style-type: none; */
    text-align: left;
    margin: 0;
    padding: 1% 0 0 3%;
    background-color: rgb(#DCDCDC);
    font-size: .8em;
    width: 97%;
    overflow: scroll;
    height: 70%;
    overflow-x: hidden;
    /* overflow-y: hidden; */
    
    
}

li {
    width: 90%;
}





/* Things to add:

1. fix load more button
2. fix the more info div




*/

/* ------------------- Main modal ----------------------- ----------------------------------------------------------*/

.modal {
    /* display: none; Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 1%;
    outline: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
    height: 42%;
    text-align: center;
    font-size: .8em;
    background-image:url('../images/cuttingboard.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
  }
 
  
  #modal-input {
      width: 60%;
      padding: 1%;
      margin: 1%;
      font-size: 1.25em;
      text-align: center;
      /* height: 10%; */
  }
  .modalPIntro {
      font-size: 1.2em;
  }

  #modal-submit {
      width: 50%;
      margin: 2% auto;
      font-size: 1em;
      background-color: rgb(140,190,100);
      height: 10%;
      /* border: 1px solid black; */
      /* box-shadow: 5px 5px rgba(0,0,0,0.3); */
      cursor: pointer;
      padding: 2%;
      color: white;
      font-weight: 600;
      /* border-radius: 20%; */
      
  }

  #modal-submit:hover {

    font-weight: 550;
    background-color: rgb(100, 180, 90);
  }

  #modal-exclude, #modalDietRestrictions, #modalHealthRestrictions {
      width: 30%;
      margin: 2px;
  }


 /* ------------------------------------------------------------------------------------------------------------------THIS IS CSS FOR THE DIET BUTTON MODAL ---------------------------------------------------------*/
.dietButton {
    margin: 3%;
    float: right;
}
.far {
  padding: 3%;
  cursor: pointer;
  
}
 .dietDiv {
    display: none; /* Hidden until button is clicked */
    position: fixed;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto;
   
    background-color: white;
  }
  
  /* dietContent Modal */
  .dietDivContent {
    background-color: white;
    
    padding: 2%;
    
    width: 100%; 
    font-size: .7em;

  }
  
  /* The dietClose Button */
  .dietCloseButton {
    color: white;
 
    width: 95%;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid black;
    position: absolute;
    bottom: 0;
    margin: 1%;
    background: darkgrey;

  }
  .dietCloseButton:hover {
    border: 2px solid black;
    background: rgb(110,110,110)
  }



  /* ------------------------------------------------------- ---------------This is CSS for LOAD MORE BUTTON-------- ------------------------------------------------------- */
  .loadMore {
      width: 100%;
      text-align: center;
  }

  .moreRecipesButton {
    width: 25%;
      margin: 1% auto;
      font-size: 0.5em;
      background-color: rgb(140,190,100);
      height: 10%;
      /* border: 1px solid black; */
      /* box-shadow: 5px 5px rgba(0,0,0,0.3); */
      cursor: pointer;
      color: white;
      padding: 1%;
     
  }

  .moreRecipesButton:hover {
    font-weight: 550;
    background-color: rgb(100, 180, 90);



  }



  /* ---------------------------------------------------------------------------Mobile CSS: --------------------- --------------------------------------------------------*/
  

  @media screen and (min-width: 100px) and (max-width: 700px) {
    .modal-content {
        padding: 2%;
        outline: 1px solid #888;
        width: 60%; /* made this larger so the items on the screen aren't squished. */
        height: 40%;
        text-align: center;
        font-size: .5em;
        
      }
      #modal-input {
        width: 60%;
        padding: 3%;
        margin: 2%;
        font-size: 1.6em;
        
    }
    .modalPIntro {
        font-size: 1em;
    }
    #modal-exclude, #modalDietRestrictions, #modalHealthRestrictions {
        width: 27%;
        font-size: .5em;
    }

    /* Modal sizing seems fine - could make the bars a bit different - but in terms of a work version, seems fine */

    /* This section is for the recipe divs */
    .recipeBox {
        flex-direction: column;
        width: 80%;
    }
    .singleRecipe {
        width: auto;
        
    }
    .singleRecipe:first-child {
      margin-top: 20%;
    }
    
    .recipeInfo > div {
        position: absolute;

        /* this pins the header to the bototm on the back of the card */
    }
    .recipePic > h3, .recipeInfo > div > h3 {
        font-size: 1em;
    }
    .favoriteALink, .titleLogo {
      font-size: .7em;
      
      }

  }

/* --------------------------------------------------------------------------------------medium Screen CSS: 
might be unnecessary but seems like I shoudl be doing this, maybe makes sense--------------------- --------------------------------------------------------*/
  




  @media screen and (min-width: 700px) and (max-width: 1000px) {
    .recipeBox {
        flex-direction: row;
    }
    .singleRecipe {
        width: 40%;
        /* height: 150px; */
        margin-top: 9%;
    }
     /* .singleRecipe:first-child {
      margin-top: 9%;
    }
    .singleRecipe:nth-of-type(2n) {
      margin-top: 9%;
    } */
    .recipeInfo > div {
        position: absolute;

        /* this pins the header to the bototm on the back of the card */
    }
   
}



/* ---------------------------------------------------------------------------Full Screen CSS: 
might be unnecessary but seems like I shoudl be doing this, maybe makes sense--------------------- --------------------------------------------------------*/
  



  @media screen and (min-width: 1000px) and (max-width: 1500px) {
    .recipeInfo > div {
        position: absolute;

        /* this pins the header to the bototm on the back of the card */
    }
    /* .includeIngredients > * {
      font-size: 1.1em;
    } */
  }
  @media screen and (min-width: 1200px) {

    .includeIngredients > * {
      font-size: 0.9em;
    }
   
  }


  @media screen and (min-width: 1500px) {
    .recipeInfo > div {
        position: absolute;

        /* this pins the header to the bototm on the back of the card */
    }
    .singleRecipe {
        width: 18%;
        /* height: 150px; */
    }
    .includeIngredients > * {
      font-size: 1.15em;
    }

    .modal-content {
      padding: 2%;
      outline: 1px solid #888;
      width: 65%; /* made this larger so the items on the screen aren't squished. */
      height: 50%;
      text-align: center;
      font-size: 1em;
      
    }
    #modal-input {
      width: 60%;
      padding: 3%;
      margin: 2%;
      font-size: 2.5em;
      
  }
  .modalPIntro {
      font-size: 2em;
  }
  #modal-exclude, #modalDietRestrictions, #modalHealthRestrictions {
      width: 27%;
      font-size: 1.5em;
  }

  .modalPQuestion {
    font-size: 1.25em;
  }

    
   
  }









  /* ---------------------------------------------------------------------------CSS Animations--------------------- --------------------------------------------------------*/
  
   /* RecipeINfo card flip */

   /* @-webkit-keyframes flipRecipe {
    
    0% {
        -webkit-transform: rotateX(0);
                transform: rotateX(0);
      }
      100% {
        -webkit-transform: rotateX(-180deg);
                transform: rotateX(-180deg);
      }
    } */
    @keyframes flipRecipe {
        
      /* 0% {
        
        -webkit-transform: rotateY(0);
                transform: rotateY(0);
                
      }
      25% {
        -webkit-transform: rotateY(-90);
        transform: rotateY(-90);
      }
      50% {
        -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);

      }
      75% {
        -webkit-transform: rotateY(-270deg);
        transform: rotateY(-270deg);

      }
      100% {
        -webkit-transform: rotateY(-360deg);
                transform: rotateY(-360deg);
                
      } */
 /* this whole section works to flip the card - I dont really like it, */
      /* from { opacity: 0;}
      to {opacity: 1} */
        0% {
          -webkit-transform: rotateY(-80deg);
                  transform: rotateY(-80deg);
          opacity: 0;
        }
        100% {
          -webkit-transform: rotateY(0);
                  transform: rotateY(0);
          opacity: 1;
        }
      }
      


    
    
    
   


/* 
	.testLink {
    background: black;

  } */



   /* Need to add favorite link and  header to favorite page*/

   .favoriteRemoveButton {
     width: 95%;
     cursor: pointer;
     padding: 1%;
     
   }
