.container {
    max-width: 960px;
  }
  
  /*
   * Custom translucent site header
   */
  
  .site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
  .site-header a {
    color: #999;
    transition: ease-in-out color .15s;
  }
  .site-header a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  
  
  /*
   * Extra utilities
   */
  
  .flex-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
  @media (min-width: 768px) {
    .flex-md-equal > * {
      -ms-flex: 1;
      flex: 1;
    }
  }
  
  .overflow-hidden { overflow: hidden; }

  
  /* PUT THIS STUFF IN FROM OTHER FILE */


  /* * {
    border: 1px solid black
} */


nav {
    background-color: #00303F !important;
}

body {
   
    color: #00303F !important;
}


a {
    color: #DCAE1D !important;
}

.aboutMe {
    color: #DCAE1D !important;
}
/* .mainHeaderImage {
    background-image: url("images/MainHeader.jpg");
    height: 100%;
    width: 100%;
} */

.mainHeaderImage {
    position: absolute;
    background: url("../images/editedHeader.png") no-repeat center center fixed;
    /* right: 10%; */
    /* bottom: -30%; */
    /* width: 100%; */
    
    height: 1000px;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    /* height: 540px; */
    /* background-repeat:no-repeat; */
/* display: compact; */
    /* background-color: #333; */
    /* border-radius: 21px; */
    /* -webkit-transform: rotate(30deg);
    transform: rotate(30deg); */
  }


.unitOnePic {
    /* background-image: url("../images/Unit1Search.png"); */
    /* background-repeat: no-repeat; */
    background: url("../images/Unit1Search.png") no-repeat center;
    background-size: contain;
    
    /* height: 100%; */
}
.unitTwoPic {
    /* background-image: url("../images/Unit1Search.png"); */
    /* background-repeat: no-repeat; */
    background: url("../images/BrewView.png") no-repeat center;
    background-size: contain;
    
    /* height: 100%; */
}
.unitThreePic {
    background-image: url("../images/Unit4Pic.png"), url("../images/Unit4Login.png");
    background-size: contain;
    background-repeat: no-repeat, no-repeat;
    background-position: left, right;

}

.unitFourNative {
    background: url("../images/NativePic2.png") no-repeat center;
    background-size: contain;
}
img {
    max-width: 100%;
    /* max-height: 100%; */
    margin: 2%;
}

.project {
    display: flex;
    flex-direction: column
}

.footerLI {
    font-size: 12px;
}

.footerHeader {
    font-size: 14px
}

.centerHeader, footer {
    text-align: center;
    
}



/* .centerHeader, .row {
    border: 1px solid #00303F
} */
.centerHeader {
    /* border: 1px solid #00303F */
    background-color: #CAE4DB66;
    /* margin-top: 10%; */
    margin: 7% 2% 2% 2%;
    border-radius: 0.3rem;
}

.About {
    /* text-align: center; */
}



.btn {
    background-color: #F7882F
}

.carouselContainer {
    min-height: 500px !important;
    /* border: 1px solid #00303F; */
    background-color: #7A9D96;
    border-radius: 0.3rem;

}


.btn:focus, .btn:hover {
    background-color: #F7882FB3;
}
a:hover {
    font-weight: 700
}

.modalSize {
    padding: 3%;
}


#PersonalInfo {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #7A9D96;
    border-radius: 0.3rem;
  }

  .projectDetails {
      text-align: left
  }

  @media screen and (min-width:100px) and (max-width:900px){
    .carouselContainer {
        min-height: 750px !important;
    }
    .centerHeader {
      
        margin: 10% 2% 2% 2%;
        
    }
 }