.container {
    max-width: 960px;
  }
  
  /*
   * Custom translucent site header
   */
  
  .site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
  .site-header a {
    color: #999;
    transition: ease-in-out color .15s;
  }
  .site-header a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  
  
  /*
   * Extra utilities
   */
/*   
  .flex-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
  @media (min-width: 768px) {
    .flex-md-equal > * {
      -ms-flex: 1;
      flex: 1;
    }
  } */
  
  .overflow-hidden { overflow: hidden; }

  
  /* PUT THIS STUFF IN FROM OTHER FILE */


  /* * {
    border: 1px solid black
} */


nav {
    background-color: #00303F !important;
}

body {
   
    color: #00303F !important;
}


a {
    color: #DCAE1D !important;
}

.aboutMe {
    color: #DCAE1D !important;
}
/* .mainHeaderImage {
    background-image: url("images/MainHeader.jpg");
    height: 100%;
    width: 100%;
} */

.mainHeaderImage {
    position: absolute;
    background: url("../images/editedHeader.png") no-repeat center center fixed;
    /* right: 10%; */
    /* bottom: -30%; */
    /* width: 100%; */
    
    height: 1000px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* height: 540px; */
    /* background-repeat:no-repeat; */
/* display: compact; */
    /* background-color: #333; */
    /* border-radius: 21px; */
    /* -webkit-transform: rotate(30deg);
    transform: rotate(30deg); */
  }

  
img {
    max-width: 100%;
    /* max-height: 100%; */
    margin: 2%;
}

.project {
    display: flex;
    flex-direction: column
}

.footerLI {
    font-size: 12px;
}

.footerHeader {
    font-size: 14px
}

.centerHeader, footer {
    text-align: center;
    
}



/* .centerHeader, .row {
    border: 1px solid #00303F
} */
.centerHeader {
    /* border: 1px solid #00303F */
    background-color: #CAE4DB66;
    /* margin-top: 10%; */
    margin: 7% 2% 2% 2%;
    border-radius: 0.3rem;
}




.btn {
    background-color: #F7882F;
    margin: 2px;
}

.carouselContainer {
    min-height: 500px !important;
    /* border: 1px solid #00303F; */
    background-color: #7A9D96;
    border-radius: 0.3rem;

}


.btn:focus, .btn:hover {
    background-color: #F7882FB3;
}
a:hover {
    font-weight: 700
}

.modalSize {
    padding: 3%;
}


#PersonalInfo {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #7A9D96;
    border-radius: 0.3rem;
  }
  #Portfolio {
    display: block;
    height: 115px; /*same height as header*/
    margin-top: -115px; /*same height as header*/
    visibility: hidden;
  }

  .projectDetails {
      text-align: left
  }

  @media screen and (min-width:100px) and (max-width:900px){
    .carouselContainer {
        min-height: 750px !important;
    }
    .centerHeader {
      
        margin: 10% 2% 2% 2%;
        
    }
 }





 /* Project Containers */
 .mainProjContainer {
    align-items: center;
    justify-content: center;
    /* justify-content: space-around */
    
 }

 .singleProjContainer {
     
     
     height: 400px;
     width: 300px;
     position: relative;
     background-color: #f8f9fa;
    color: #00303F;
    margin: 5px 15px;

 }


 .frontProj {
    height: 100%;
    width: 100%;
    border: 1px solid #00303F;
     border-radius: 10px;
     border-bottom: 0px;
    
    position: absolute;
    opacity: 1;
    transition: opacity .7s ease-in-out;
    -moz-transition: opacity .7s ease-in-out;
    -webkit-transition: opacity .7s ease-in-out;
    /* -webkit-animation: flip-in-ver-right 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: flip-in-ver-right 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; */
    
   
}

.frontMain {
    height: 70%;
    width: 100%;
    padding: 15px;
    text-align: center;
}

.bottom {
    height: 30%;
    width: 100%;
    /* padding: 5px; */
    background-color: #00303F;
    color: #DCAE1D;
    border-radius: 0px 0px 10px 10px;
    padding: 10px;
    /* text-align: center; */
    position: relative;
    
}

.centerName {
    margin: 0;
    position: absolute;
    top: 50%;
    width: 278px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
}

.backProj {
     height: 100%;
     width: 100%;
     border: 1px solid #00303F;
     border-radius: 10px;
     border-bottom: 0px;
    position: absolute;
    /* display: none; */
    opacity: 0;
    transition: opacity .7s ease-in-out;
    -moz-transition: opacity .7s ease-in-out;
    -webkit-transition: opacity .7s ease-in-out;
    

}

.backTop {
    height: 70%;
    width: 100%;
    padding: 15px;
    
}


 .singleProjContainer:hover .backProj{
     
    opacity: 1
   

 }

 .singleProjContainer:hover .frontProj{
    
    
    opacity: 0;
 }

 .newImage {
     max-height: 100% !important;
     max-width: 100% !important;
 }


 /* Need at medias here for the main header image */
 /* Need at medias here for the main header image */
 /* Need at medias here for the main header image */
 
/* 
 @media only screen and (max-width: 600px) {
    .mainHeaderImage {
        height: 500px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        position: absolute
    }
  } */

  .navbar-dark .navbar-toggler {
      color: #DCAE1D;
      border-color: #DCAE1D
  }